@page "/student"
@using Blazor2App.Application.Models
@using Blazor2App.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Students</PageTitle>
@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
            </tr>
        }
    </tbody>
</table>
}


@code {
    private List<StudentModel> students;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            students = await Http.GetFromJsonAsync<List<StudentModel>>("api/v1/student");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
