@page "/test"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]
<h3>Test</h3>


@code {
    protected override async Task OnInitializedAsync()
    {
        var xx = await http.GetStringAsync("api/v1/weather");
    }
}
